# 1.

The unique attribute of of panda's series does not return a boolean value. The unique attribute returns a list of all unique values that are found within the series, with one instance showing regardless of frequency in the series. To return a Boolean value of true of false in regards to all of the values being unique, the series method of pd.Series.is_unique can be used.

# 2.

In [1]:
import pandas as pd
import numpy as np
titanic = pd.read_csv("titanic.csv")

In [2]:
titanicseries = pd.Series(titanic["Name"])

In [3]:
#Index label does not exist - nothing shows up as default parameter listed as none
titanicseries.get(891)

In [4]:
# to get does not exist, change default paramater 
titanicseries.get(891, default = "does not exist")

'does not exist'

In [5]:
#using get method, both values show up
titanicseries.get([1,3])

1    Cumings, Mrs. John Bradley (Florence Briggs Th...
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
Name: Name, dtype: object

In [6]:
#using get method, if one value doesn't exist it will display only does not exist
titanicseries.get([1,891], default = "does not exist")

'does not exist'

# 3.

In [7]:
nobel = pd.read_csv("nobel.csv")

In [8]:
#a
new_nobel = nobel[["Year", "Category", "Prize", "Motivation", "Laureate Type",
"Full Name", "Birth Date", "Birth Country", "Birth City", "Sex", "Death Date"]].copy()

In [9]:
#b - 939 individuals and 30 organizations
new_nobel["Laureate Type"].value_counts()

Individual      939
Organization     30
Name: Laureate Type, dtype: int64

In [10]:
#c

#creates age column with constant value 50
new_nobel["Age"] = 50

In [11]:
#d

# replaces nan values with 0
new_nobel["Birth Date"] = new_nobel["Birth Date"].replace(np.nan, 0)
#calculates real age by subtracting birth year from year prize received
new_nobel["Real Age"] = new_nobel["Year"] - pd.to_numeric(new_nobel["Birth Date"].str[0:4])

In [12]:
#e

#drops age column
new_nobel.drop(columns = "Age")

,Year,Category,Prize,Motivation,Laureate Type,Full Name,Birth Date,Birth Country,Birth City,Sex,Death Date,Real Age
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",Individual,Jacobus Henricus van 't Hoff,1852-08-30,Netherlands,Rotterdam,Male,1911-03-01,49.0
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",Individual,Sully Prudhomme,1839-03-16,France,Paris,Male,1907-09-07,62.0
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",Individual,Emil Adolf von Behring,1854-03-15,Prussia (Poland),Hansdorf (Lawice),Male,1917-03-31,47.0
3,1901,Peace,The Nobel Peace Prize 1901,NaN,Individual,Jean Henry Dunant,1828-05-08,Switzerland,Geneva,Male,1910-10-30,73.0
4,1901,Peace,The Nobel Peace Prize 1901,NaN,Individual,Frédéric Passy,1822-05-20,France,Paris,Male,1912-06-12,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...
964,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",Individual,Yoshinori Ohsumi,1945-02-09,Japan,Fukuoka,Male,NaN,71.0
965,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country...",Individual,Juan Manuel Santos,1951-08-10,Colombia,Bogotá,Male,NaN,65.0
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,David J. Thouless,1934-09-21,United Kingdom,Bearsden,Male,NaN,82.0
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,F. Duncan M. Haldane,1951-09-14,United Kingdom,London,Male,NaN,65.0
968,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological ph...",Individual,J. Michael Kosterlitz,1943-06-22,United Kingdom,Aberdeen,Male,NaN,73.0

In [13]:
#f

#average age is 59.485106
new_nobel["Real Age"].describe()

count    940.000000
mean      59.485106
std       12.364399
min       17.000000
25%       50.000000
50%       60.000000
75%       69.000000
max       90.000000
Name: Real Age, dtype: float64

# 4.

In [14]:
nba_series = pd.read_csv("nba.csv", index_col = "Name", usecols = ["Name", "Salary"], squeeze = True)

In [15]:
#a

#salary reported for John Holland is NaN
nba_series["John Holland"]

nan

In [16]:
#b

#5000000.0 exists as a salary for any person 
5000000.0 in nba_series.values

True

In [17]:
#c

#applies function to nba.series and displays results
nba_series.apply(lambda x : 
                 "No Salary Reported" if x == np.nan else 
                 "Average" if x == nba_series.mean() else 
                 "Above Average" if x > nba_series.mean() else 
                 "Below Average")

Name
Avery Bradley    Above Average
Jae Crowder      Above Average
John Holland     Below Average
R.J. Hunter      Below Average
Jonas Jerebko    Above Average
                     ...
Shelvin Mack     Below Average
Raul Neto        Below Average
Tibor Pleiss     Below Average
Jeff Withey      Below Average
NaN              Below Average
Name: Salary, Length: 458, dtype: object