In [1]:
import pandas as pd

In [2]:
df2015 = pd.read_csv("2015.csv")
df2016 = pd.read_csv("2016.csv")
df2017 = pd.read_csv("2017.csv")
df2018 = pd.read_csv("2018.csv")
df2019 = pd.read_csv("2019.csv")

# Working with datasets to make similar

## 2015

In [3]:
df2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [5]:
#drop extra columns
df2015.drop(["Region", "Standard Error", "Dystopia Residual"], axis = 1, inplace = True)

In [6]:
#delete and store rank column to move
first_col2015 = df2015.pop("Happiness Rank")

In [7]:
#insert rank column at beginning of df (matching 2018/2019)
df2015.insert(0, "Overall Rank", first_col2015)

In [8]:
#delete and store corruption column to move
last_col2015 = df2015.pop("Trust (Government Corruption)")

In [9]:
#move corruption column to end of df (matching 2018/2019)
df2015["Perceptions of corruption"] = last_col2015

In [10]:
#create list with column names
column_headers = ["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom", "Generosity", "Perceptions of corruption"]

In [11]:
#rename df columns
df2015.columns = column_headers

In [12]:
#insert column with year at beginning of df
df2015.insert(0, "Year", "2015")

## 2016

In [13]:
df2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [15]:
#drop extra columns
df2016.drop(["Region", "Lower Confidence Interval", "Upper Confidence Interval", "Dystopia Residual"], axis = 1, inplace = True)

In [16]:
#delete and store rank column to move
first_col2016 = df2016.pop("Happiness Rank")

In [17]:
#insert rank column at beginning of df (matching 2018/2019)
df2016.insert(0, "Overall Rank", first_col2016)

In [18]:
#delete and store corruption column to move
last_col2016 = df2016.pop("Trust (Government Corruption)")

In [19]:
#move corruption column to end of df (matching 2018/2019)
df2016["Perceptions of corruption"] = last_col2016

In [20]:
#rename df columns
df2016.columns = column_headers

In [21]:
#insert column with year at beginning of df
df2016.insert(0, "Year", "2016")

## 2017

In [22]:
df2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [23]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [24]:
#drop extra columns
df2017.drop(["Whisker.high", "Whisker.low", "Dystopia.Residual"], axis = 1, inplace = True)

In [25]:
#delete and store rank column to move
first_col2017 = df2017.pop("Happiness.Rank")

In [26]:
#insert rank column at beginning of df (matching 2018/2019)
df2017.insert(0, "Overall Rank", first_col2017)

In [27]:
#rename df columns
df2017.columns = column_headers

In [28]:
#insert column with year at beginning of df
df2017.insert(0, "Year", "2017")

## 2018

In [29]:
df2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [30]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [31]:
column_headers = ["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom", "Generosity", "Perceptions of corruption"]

In [32]:
#rename df columns
df2018.columns = column_headers

In [33]:
#insert column with year at beginning of df
df2018.insert(0, "Year", "2018")

In [34]:
#address missing value in corruption data by using average
#df2018["Perceptions of corruption"].fillna(df2018["Perceptions of corruption"].mean, inplace = True)

## 2019

In [35]:
df2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [36]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [37]:
#rename df columns
df2019.columns = column_headers

In [38]:
column_headers = ["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", "Healthy life expectancy", "Freedom", "Generosity", "Perceptions of corruption"]

In [39]:
#insert column with year at beginning of df
df2019.insert(0, "Year", "2019")

# Combine all frames

In [40]:
dataframes = [df2015, df2016, df2017, df2018, df2019]

##### 1.

In [41]:
#creates world happiness dataframe
world_happiness = pd.concat(dataframes)

In [42]:
world_happiness.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       782 non-null    object
 1   Overall rank               782 non-null    int64
 2   Country or region          782 non-null    object
 3   Score                      782 non-null    float64
 4   GDP per capita             782 non-null    float64
 5   Social support             782 non-null    float64
 6   Healthy life expectancy    782 non-null    float64
 7   Freedom                    782 non-null    float64
 8   Generosity                 782 non-null    float64
 9   Perceptions of corruption  781 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 67.2+ KB

In [43]:
#number of rows is 782
len(world_happiness.index)

782

##### 2.

In [44]:
#sort values by overall rank and year - Finland ranked 1 in 2 consecutive years
world_happiness.sort_values(["Overall rank", "Year"])

,Year,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,2015,1,Switzerland,7.587,1.396510,1.349510,0.941430,0.665570,0.296780,0.419780
0,2016,1,Denmark,7.526,1.441780,1.163740,0.795040,0.579410,0.361710,0.444530
0,2017,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
0,2018,1,Finland,7.632,1.305000,1.592000,0.874000,0.681000,0.202000,0.393000
0,2019,1,Finland,7.769,1.340000,1.587000,0.986000,0.596000,0.153000,0.393000
...,...,...,...,...,...,...,...,...,...,...
155,2018,156,Burundi,2.905,0.091000,0.627000,0.145000,0.065000,0.149000,0.076000
155,2019,156,South Sudan,2.853,0.306000,0.575000,0.295000,0.010000,0.202000,0.091000
156,2015,157,Burundi,2.905,0.015300,0.415870,0.223960,0.118500,0.197270,0.100620
156,2016,157,Burundi,2.905,0.068310,0.234420,0.157470,0.043200,0.202900,0.094190
157,2015,158,Togo,2.839,0.208680,0.139950,0.284430,0.364530,0.166810,0.107310

##### 3.

In [45]:
#identify information around null value - UAE only - null value visible in .info frame from question 1.
null = world_happiness["Perceptions of corruption"].isnull()
world_happiness[null == True]

,Year,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
19,2018,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [46]:
#creates df specific to uae results
uae = world_happiness[world_happiness["Country or region"] == "United Arab Emirates"]

In [47]:
#sets na result to average of uae mean
world_happiness["Perceptions of corruption"].fillna(uae["Perceptions of corruption"].mean(), inplace = True)

In [48]:
#validates that there is no longer null values
world_happiness.isna().sum()

Year                         0
Overall rank                 0
Country or region            0
Score                        0
GDP per capita               0
Social support               0
Healthy life expectancy      0
Freedom                      0
Generosity                   0
Perceptions of corruption    0
dtype: int64

##### 4.

In [49]:
#cor category changes in columns - changes year to int and country or region to category 
world_happiness.Year = world_happiness.Year.astype('int64')
world_happiness["Country or region"] = world_happiness["Country or region"].astype('category')

##### 5.

In [50]:
#of unique countries in the data set is 170
len(world_happiness["Country or region"].unique())

170

In [51]:
#creates reference for required countries
countrylist = ["Finland", "Canada", "South Sudan", "Oman"]
country_find = world_happiness["Country or region"].isin(countrylist)
country_subset = world_happiness[country_find == True]

In [52]:
#South Sudan and Oman do not show up in all 5 years, happiness not reported for each company all years
#Countries present in data set: South Sudan, 4 times; Oman, 1 time; Finland, 5 times; Canada, 5 times
country_subset['Country or region'].value_counts()

Finland            5
Canada             5
South Sudan        4
Oman               1
Zimbabwe           0
                  ..
Northern Cyprus    0
North Macedonia    0
North Cyprus       0
Nigeria            0
Afghanistan        0
Name: Country or region, Length: 170, dtype: int64

##### 6.

In [53]:
#creates column for happy not happy function
world_happiness["Happy-notHappy"] = world_happiness.Score.apply(lambda x : 
                 "happy" if x > 6 else 
                 "not-happy")

##### 7.

In [54]:
#create columns averaged by country classifier
averagerank = world_happiness.groupby(by = "Country or region").mean()

In [55]:
#sort to show highest 10 ranked countries by average
averagerank.Score.sort_values(ascending = False).head(10)

Country or region
Denmark        7.5460
Norway         7.5410
Finland        7.5378
Switzerland    7.5114
Iceland        7.5110
Netherlands    7.4046
Canada         7.3506
Sweden         7.3192
New Zealand    7.3130
Australia      7.2762
Name: Score, dtype: float64

In [56]:
#sort to show lowest 10 ranked countries by average
averagerank.Score.sort_values().head(10)

Country or region
Burundi                     3.07900
Central African Republic    3.13425
Syria                       3.29220
South Sudan                 3.38250
Rwanda                      3.43860
Tanzania                    3.46600
Afghanistan                 3.51280
Togo                        3.54420
Yemen                       3.62580
Madagascar                  3.74540
Name: Score, dtype: float64

##### 8.

In [57]:
#world happiness has not changed significantly, generosity has decreased
averagenums = world_happiness.groupby(by = "Year").mean()
averagenums

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Year,,,,,,,,
2015,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.237296,0.143422
2016,78.980892,5.382185,0.953880,0.793621,0.557619,0.370994,0.242635,0.137624
2017,78.000000,5.354019,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120
2018,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.113282
2019,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603

##### 9.

In [58]:
#highest 10 average overall ranks from already existing averagerank 
#average rank had already done the average of all num columns per country
averagerank["Overall rank"].sort_values().head(10)

Country or region
Denmark         2.2
Norway          2.8
Iceland         3.2
Switzerland     3.6
Finland         3.6
Netherlands     6.2
Canada          6.8
New Zealand     8.2
Sweden          8.6
Australia      10.0
Name: Overall rank, dtype: float64

##### 10.

In [60]:
q10df = averagerank.drop(["Year"], axis = 1)

In [62]:
q10df.corr()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
Overall rank,1.000000,-0.994279,-0.809662,-0.747195,-0.776802,-0.575450,-0.120236,-0.348747
Score,-0.994279,1.000000,0.803430,0.755670,0.772317,0.589062,0.141704,0.377002
GDP per capita,-0.809662,0.803430,1.000000,0.701942,0.837582,0.371443,-0.046236,0.251377
Social support,-0.747195,0.755670,0.701942,1.000000,0.637808,0.424541,0.026805,0.149650
Healthy life expectancy,-0.776802,0.772317,0.837582,0.637808,1.000000,0.369615,0.046698,0.243655
Freedom,-0.575450,0.589062,0.371443,0.424541,0.369615,1.000000,0.328088,0.476925
Generosity,-0.120236,0.141704,-0.046236,0.026805,0.046698,0.328088,1.000000,0.364565
Perceptions of corruption,-0.348747,0.377002,0.251377,0.149650,0.243655,0.476925,0.364565,1.000000

overall rank is strongly correlated to score, gdp per capita, social support (rounded), and healthy life expectancy

score is strongly correlated to overall rank, gdp per capita, social support, and healthy life expectancy

gdp per capita is strongly correlated with overall rank, score, and healthy life expectancy

social support is strongly correlated with overall rank and score

healthy life expectancy is strongly correlated with overall rank, score and gdp per capita